@model TheWall.Models.Comment

<div class="container mx-auto mt-5">
        <!-- Render msg -->
        @foreach(var msg in @ViewBag.AllMsg)
        {
            <div class="container mt-5">
                <!-- MSG Box -->
                <div class="container row mx-auto">
                    <div class="thumbnail">
                        <img class="img-responsive border rounded" src="@msg.User.AvartaUrl" height="55" width="55">
                    </div>
                    <div class="panel panel-default ml-5">
                        <div class="panel-heading">
                            <strong><a class="text-secondary" asp-action="UserDetail" asp-controller="Admin" asp-route-id="@msg.User.UserId">
                                @msg.User.FirstName @msg.User.LastName
                            </a></strong> 
                            <span class="text-muted"> 
                                left a message
                                @if (@msg.TimeSpan == null) 
                                {
                                    @msg.CreatedAt.ToString("d")
                                } else 
                                {
                                    @msg.TimeSpan 
                                }
                            </span>
                        </div> <!-- End Panel-Heading -->
                        <div class="panel-body">
                            @msg.Msg
                        </div> <!-- End Panel-Body -->
                    </div> <!-- End Panel -->
                </div> <!-- End MSG Box -->
                <hr>
                <!-- Render Comments -->
                <div class="container row">
                    <div class="container ml-5">
                        @foreach(var cmt in msg.Comments)
                        {
                            <div class="container mt-3">
                                <!-- CMT Box -->
                                <div class="container row mx-auto">
                                    <div class="thumbnail col-1">
                                        <img class="img-responsive border rounded" src="@cmt.User.AvartaUrl" height="55" width="55">
                                    </div>
                                    <div class="panel panel-default ml-5 col-10">
                                        <div class="panel-heading">
                                            <strong><a class="text-secondary" asp-action="UserDetail" asp-controller="Admin" asp-route-id="@cmt.User.UserId">
                                                @cmt.User.FirstName @cmt.User.LastName
                                            </a></strong> 
                                            <span class="text-muted"> 
                                                commented
                                                @if (cmt.TimeSpan == null) 
                                                {
                                                    @cmt.CreatedAt.ToString("d")
                                                } else 
                                                {
                                                    @cmt.TimeSpan 
                                                }
                                            </span>
                                        </div> <!-- End Panel-Heading -->
                                        <div class="panel-body">
                                            @cmt.Cmt
                                        </div> <!-- End Panel-Body -->
                                    </div> <!-- End Panel -->
                                </div> <!-- End CMT Box -->
                                <hr>
                            </div>
                        }
                        <!-- Leave comment -->
                        <div class="container mt-5">
                            <form class="form-group" asp-action="CreateCmt" asp-controller="User"
                                asp-route-recipientId="@ViewBag.SelectedUser.UserId" method="post">
                                <textarea class="form-control" asp-for="Cmt"></textarea>
                                <input type="hidden" asp-for="UserId" value="@ViewBag.UserId">
                                <input type="hidden" asp-for="MessageId" value="@msg.MessageId">
                                <button type="submit" class="btn btn-info mt-3 float-right">Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>